<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217756193953-hrkqdifsbloqneo6e2on2iih4ngen620.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217756193953-hrkqdifsbloqneo6e2on2iih4ngen620</string>
	<key>API_KEY</key>
	<string>AIzaSyDP9Sgixu5oyNflWiC4chfscZ4CR-UKgrc</string>
	<key>GCM_SENDER_ID</key>
	<string>217756193953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calculator.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>calculator-883a9</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-883a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217756193953:ios:e8b802bad6e8a82dc7cce0</string>
</dict>
</plist>